/* ==UserStyle==
@name           Google Classroom Dark Mode
@namespace      userstyles.world/user/colebot
@version        2.0.0
@description    Dark mode for Google Classroom
@author         Colebot
==/UserStyle== */

@-moz-document domain("classroom.google.com") {
    :root {
        --curtain: #000000aa;
        --bg-0: #191919;
        --bg-1: #202020;
        --bg-2: #272727;
        --bg-3: #2a2a2a;
        
        --border-ultra-heavy: #666666;
        --border-heavy: #555555;
        --border-med-heavy: #444444;
        --border-normal: #333333;
        --border-light: #292929;
        
        --text-ultra-bright: #ffffff;
        --text-bright: #e0e0e0;
        --text-med-bright: #dedede;
        --text-med: #c0c0c0;
        --text-med-med-dark: #b0b0b0;
        --text-med-dark: #a0a0a0;
        --text-dark: #999999;
        --text-ultra-dark: #666666;
        --text-ultra-ultra-dark: #4a4a4a;
        
        --general-text-button: var(--text-med-med-dark);
        --general-text-button-hover: var(--text-bright);
        
        --icon-button: var(--text-bright);
        --icon-button-active: var(--text-med-med-dark);
    }
    
    /* GENERAL */
    body, .fXYYpf .T4LgNb {
        /* scroll edges */
        background-color: var(--bg-0);
        
        /* misc text */
        color: var(--text-med);
    }
    .pYTkkf-Bz112c-LgbsSe {
        /* icon buttons */
        color: var(--text-med);
        --gm3-ripple-hover-color: var(--text-dark);
    }
    .pYTkkf-Bz112c-LgbsSe:hover, .pYTkkf-Bz112c-LgbsSe:focus {
        /* icon buttons hover/focus */
        color: var(--text-bright);
    }
    .Aopndd, .d4Fe0d {
        /* plain items with border */
        background-color: var(--bg-0);
        border-color: var(--border-normal);
    }
    .A6dC2c {
        /* link cards */
        color: var(--text-med-dark);
    }
    .N6nSod {
        /* help button */
        background-color: var(--bg-3);
    }
    /* add comment fields */
    .q1Kmyc {
        /* input */
        border-color: var(--border-heavy);
    }
    .EN2Rfc:not(.RDPZE) .XTO5bf:hover, .EN2Rfc:not(.RDPZE) .XTO5bf.y7OZL {
        /* hover format buttons */
        color: var(--text-med-bright);
    }
    .EN2Rfc:not(.RDPZE) .XTO5bf.y7OZL {
        /* active format buttons */
        background-color: var(--bg-3);
    }
    .pYTkkf-Bz112c-LgbsSe:disabled {
        /* disabled send button */
        color: var(--text-ultra-ultra-dark);
    }
    /* context menus */
    .O68mGe-xl07Ob {
        /* main background */
        background-color: var(--bg-1);
    }
    .W7g1Rb-rymPhb-KkROqb:has(.W7g1Rb-rymPhb-Abojl), .W7g1Rb-rymPhb-fpDzbe-fmcmS {
        /* list item icons/text */
        color: var(--text-med-dark);
    }
    .W7g1Rb-rymPhb-ibnC6b:hover .W7g1Rb-rymPhb-KkROqb:has(.W7g1Rb-rymPhb-Abojl), .W7g1Rb-rymPhb-ibnC6b:hover .W7g1Rb-rymPhb-fpDzbe-fmcmS {
        /* list item hover icons/text */
        color: var(--text-med-bright);
    }
    .W7g1Rb-rymPhb-ibnC6b:hover {
        /* hover item background */
        background-color: var(--bg-2);
    }
    .W7g1Rb-rymPhb-ibnC6b:active {
        /* active item background */
        background-color: var(--bg-3);
    }
    .W7g1Rb-rymPhb-ibnC6b[aria-selected=true] {
        /* selected item background */
        background-color: var(--bg-3);
    }
    .W7g1Rb-rymPhb-ibnC6b-OWXEXe-gk6SMd .W7g1Rb-rymPhb-fpDzbe-fmcmS {
        color: var(--text-bright);
    }
    .W7g1Rb-rymPhb-ibnC6b:focus .W7g1Rb-rymPhb-fpDzbe-fmcmS {
        /* focus item text */
        color: var(--text-med);
    }
    .W7g1Rb-rymPhb-ibnC6b-OWXEXe-gk6SMd:focus .W7g1Rb-rymPhb-fpDzbe-fmcmS {
        /* selected focus item text */
        color: var(--text-bright);
    }
    .W7g1Rb-clz4Ic {
        /* interior border */
        background-color: var(--border-heavy);
    }
    /* popup dialogs */
    .cC1eCc .VfPpkd-IE5DDf, .cC1eCc .VfPpkd-P5QLlc-GGAcbc {
        /* curtain */
        background-color: var(--curtain);
    }
    .cC1eCc .VfPpkd-P5QLlc {
        /* main background */
        background-color: var(--bg-1);
    }
    .cC1eCc .VfPpkd-k2Wrsb {
        /* title text */
        color: var(--text-med);
    }
    .Fgl6fe-fmcmS-yrriRe-OWXEXe-MFS4be:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me) {
        /* input */
        background-color: var(--bg-2);
    }
    .Fgl6fe-fmcmS-yrriRe:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-XpnDCe):hover {
        /* input hover */
        background-color: var(--bg-3);
    }
    .Fgl6fe-fmcmS-yrriRe:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me) .Fgl6fe-fmcmS-wGMbrd, .Fgl6fe-fmcmS-yrriRe:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-XpnDCe):hover .Fgl6fe-fmcmS-wGMbrd, .Fgl6fe-fmcmS-yrriRe:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me).Fgl6fe-fmcmS-yrriRe-OWXEXe-XpnDCe .Fgl6fe-fmcmS-wGMbrd {
        /* input text */
        color: var(--text-med);
    }
    .Fgl6fe-fmcmS-wGMbrd::placeholder {
        /* input placeholder */
        color: var(--text-med);
    }
    .Fgl6fe-fmcmS-yrriRe-OWXEXe-UJflGc:not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-OWB6Me):not(.Fgl6fe-fmcmS-yrriRe-OWXEXe-XpnDCe):hover {
        /* input placeholder hover */
        --gm3-floating-label-label-text-color: var(--text-med);
    }
    .mUIrbf-LgbsSe:disabled .mUIrbf-vQzf8d {
        /* disabled confirm button */
        color: var(--text-ultra-ultra-dark);
    }
    /* drop-down selectors */
    .w482V-CZC2Ab-i5vt6e {
        /* border */
        --gm3-notched-outline-border-color: var(--border-normal);
    }
    .w482V-O1htCb:hover .w482V-CZC2Ab-i5vt6e {
        /* hover border */
        --gm3-notched-outline-border-color: var(--border-heavy);
    }
    .rHGeGc-uusGie-fmcmS {
        /* display item text */
        color: var(--text-med);
    }
    .rHGeGc-O1htCb:hover .rHGeGc-uusGie-fmcmS {
        /* hover display item text */
        color: var(--text-med-bright);
    }
    .rHGeGc-O1htCb.rHGeGc-O1htCb-OWXEXe-XpnDCe .rHGeGc-uusGie-fmcmS {
        /* focused display item text */
        color: var(--text-med-bright);
    }
    
    
    /* NAVIGATION */
    /* header */
    .joJglb {
        background-color: var(--bg-1);
    }
    .y183Ub {
        /* logo text */
        color: var(--text-med);
    }
    .r9JCQd {
        /* class name */
        color: var(--text-med);
    }
    .tWeh6 {
        /* class section */
        color: var(--text-med-dark);
    }
    .LNBrBd {
        /* other title */
        color: var(--text-med);
    }
    .xSP5ic:not([disabled]), .xSP5ic:not([disabled]).yHy1rc, .xSP5ic:not([disabled]).pYTkkf-Bz112c-LgbsSe {
        /* toolbar control buttons */
        color: var(--text-med);
        fill: var(--text-med);
    }
    .gb_Fa svg, .gb_Qc svg, .gb_td .gb_ud, .gb_3c .gb_ud {
        /* google apps button */
        color: var(--text-med);
        fill: var(--text-med);
    }
    .gb_B[aria-expanded="true"] .gb_F {
        /* google apps button expanded */
        fill: var(--text-med-bright);
    }
    /* sidebar */
    .tCcYY {
        /* main background */
        background-color: var(--bg-1);
    }
    .ykp8pd {
        /* icons */
        color: var(--text-med);
    }
    .HqpJve {
        /* section headers */
        color: var(--text-med-dark);
    }
    .GRvzhf {
        /* class name */
        color: var(--text-med-med-dark);
    }
    .DWJNgb {
        /* class section */
        color: var(--text-dark);
    }
    .uTwgne:hover .pzaVke, .ug8OTc:hover .pzaVke {
        /* hover link backdrop */
        background-color: var(--bg-2);
    }
    .wQiG5d {
        /* active link backdrop */
        background-color: var(--bg-3);
    }
    .XL4gNd, .mefVYc {
        /* active link text */
        color: var(--text-bright);
    }
    .m2eIad {
        /* active link icon */
        color: var(--text-bright);
        fill: var(--text-bright);
    }
    /* corner piece */
    .g0zrjc, .OkLq5b {
        fill: var(--bg-1);
    }
    
    
    /* HOME PAGE */
    .SZ0kZe {
        border-color: var(--border-normal);
    }
    .avfKs {
        /* home page background */
        background-color: var(--bg-0);
    }
    /* join class dialog */
    .aHij0b-WsjYwc, .aHij0b-WsjYwc:hover {
        /* current account panel */
        background-color: transparent;
        border-color: var(--border-med-heavy);
    }
    
    /* class cards */
    .rZXyy.YwNp1, .rZXyy:not(.u0dx8e):not(.ILo0B):not(.xp2dJ):hover, .rZXyy:not(.u0dx8e):not(.ILo0B):not(.xp2dJ):focus {
        box-shadow: 0 0 0 0.0625rem var(--border-normal);
    }
    /* move class dialog */
    .W7g1Rb-rymPhb-ibnC6b {
        /* class elements */
        background-color: var(--bg-1);
    }
    .W7g1Rb-rymPhb-ibnC6b-OWXEXe-OWB6Me .W7g1Rb-rymPhb-KkROqb:has(.W7g1Rb-rymPhb-Abojl) {
        /* disabled icon */
        color: var(--text-dark);
    }
    .W7g1Rb-rymPhb-Gtdoyb, .W7g1Rb-rymPhb-ibnC6b-OWXEXe-OWB6Me .W7g1Rb-rymPhb-L8ivfd-fmcmS, .W7g1Rb-rymPhb-ibnC6b-OWXEXe-OWB6Me .W7g1Rb-rymPhb-fpDzbe-fmcmS {
        /* disabled text */
        color: var(--text-dark);
    }
    .W7g1Rb-rymPhb-L8ivfd-fmcmS {
        /* enabled section */
        color: var(--text-dark);
    }
    
    
    /* CLASS PAGE */
    .mwJvDe .KEDCCd {
        /* class tab bar */
        background-color: var(--bg-0);
        border-color: var(--border-normal);
    }
    .wZTANe .J1raN {
        /* tab text */
        color: var(--text-dark);
    }
    .wZTANe .J1raN:hover {
        /* tab text hover */
        color: var(--text-med);
    }
    /* STREAM TAB */
    .IzVHde {
        /* extra class info */
        background-color: var(--bg-0);
    }
    /* upcoming assignments panel */
    .EZrbnd {
        /* 'upcoming' text */
        color: var(--text-med);
    }
    .vMBnqb .xo2x2e {
        /* empty message */
        color: var(--text-dark);
    }
    /* new announcement box */
    /* collapsed */
    .K6Ovqd {
        /* placeholder text */
        color: var(--text-med-dark);
    }
    .GWZ7yf {
        /* backdrop */
        box-shadow: none;
        border: 1px solid var(--border-normal);
    }
    .qk0lee:focus::after {
        /* backdrop focus */
        background-color: var(--bg-1);
    }
    /* expanded */
    .hgjBDc {
        /* main body */
        background-color: var(--bg-1);
    }
    .svNSpd {
        /* new attachment circles */
        border-color: var(--border-med-heavy);
    }
    .vnnr5e .I9OJHe, .vnnr5e .CIy9F {
        /* text field */
        background-color: var(--bg-2);
    }
    .vnnr5e:not(.RDPZE):not(.u3bW4e):hover .I9OJHe, .vnnr5e:not(.RDPZE):not(.u3bW4e):hover .CIy9F {
        /* text field hover */
        background-color: var(--bg-3);
    }
    .zuzKle.xVPuB, .zuzKle.vnnr5e {
        /* text field text */
        color: var(--text-med);
    }
    .xVPuB .snByac, .vnnr5e .snByac {
        /* text field placeholder */
        color: var(--text-med-dark);
    }
    .vnnr5e:not(.RDPZE):not(.u3bW4e):hover .I9OJHe.vTcY1d .snByac {
        /* text field hover placeholder */
        color: var(--text-med-bright);
    }
    .UywwFc-LgbsSe:disabled {
        /* disabled post button */
        background-color: var(--bg-2);
    }
    .UywwFc-LgbsSe:disabled .UywwFc-vQzf8d {
        /* disabled post button text */
        color: var(--text-ultra-ultra-dark);
    }
    /* class stream items */
    .asQXV {
        /* headers */
        color: var(--text-med-dark);
    }
    .Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.rXdid, .Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover.h7Ww0, .Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .rXdid, .Iwp0Ue:not(.xp2dJ):not(.rZXyy):hover .h7Ww0, .xWw7yd:hover.rXdid, .xWw7yd:hover.h7Ww0, .xWw7yd:hover .rXdid, .xWw7yd:hover .h7Ww0 {
        /* item hover/focus */
        background-color: var(--bg-1);
    }
    /* announcement items */
    .s2g3Xd {
        /* inner border */
        border-color: var(--border-normal);
    }
    /* CLASSWORK TAB */
    /* section headers */
    .onkcGd, .onkcGd:visited, .WPhuJf, .WPhuJf:visited {
        /* hover text */
        color: var(--text-med);
    }
    .VKRoqe {
        /* bottom border */
        border-color: var(--border-normal);
    }
    .Iwp0Ue:not(.xp2dJ):focus-within.JiTjnd, .Iwp0Ue:not(.xp2dJ):focus-within.h7Ww0, .Iwp0Ue:not(.xp2dJ) :focus-within.JiTjnd, .Iwp0Ue:not(.xp2dJ) :focus-within.h7Ww0, .xWw7yd:focus-within.JiTjnd, .xWw7yd:focus-within.h7Ww0, .xWw7yd :focus-within.JiTjnd, .xWw7yd :focus-within.h7Ww0 {
        /* focus-within background */
        background-color: var(--bg-1);
    }
    /* collapsed classwork items */
    .wCDkmf {
        /* normal due date */
        color: var(--text-ultra-dark);
    }
    .Iwp0Ue:not(:first-child) {
        /* border between items */
        border-color: var(--border-light);
    }
    /* expanded classwork items */
    .lXuxY, .pO6AMc, .PqkECe {
        /* expanded box */
        box-shadow: none;
        border: 1px solid var(--border-normal);
    }
    .lXuxY .u73Apc, .RcHwO {
        /* title section */
        border-color: var(--border-normal);
    }
    .O9YpHb {
        /* bottom section */
        border-color: var(--border-normal);
    }
    .dDKhVc {
        /* body text in full expanded view */
        color: var(--text-med-dark);
    }
    /* your work page */
    .i1wJG {
        /* top border */
        border-color: var(--border-normal);
    }
    .ksaOtd {
        /* score */
        color: var(--text-med-bright);
    }
    .udxSmc {
        /* submission status */
        color: var(--text-dark);
    }
    .uQ3ESd {
        /* expanded classwork item */
        background-color: var(--bg-0);
    }
    .VDj5V {
        /* bottom section */
        border-color: var(--border-normal);
    }
    /* MATERIAL/ASSIGNMENT PAGE */
    .B7SYid {
        /* header */
        color: var(--text-med);
    }
    .cSyPgb {
        /* sub-header */
        color: var(--text-dark);
    }
    .nl5VRd {
        /* entire header */
        border-color: var(--border-normal);
    }
    .tLDEHd {
        /* content */
        color: var(--text-med);
    }
    .ar1wE .eqqrO, .ySjuvd .eqqrO {
        /* comment section */
        border-color: var(--border-normal);
    }
    .z3vRcc {
        /* 'your work' title */
        color: var(--text-med-dark);
    }
    .Niache {
        /* attachment inner border */
        border-color: var(--border-normal);
    }
    /* TODO PAGE */
    .WOPwXe {
        /* section titles */
        color: var(--text-med);
    }
    .MHxtic:not(:last-child), .LKqFXc {
        /* border between classwork items */
        border-color: var(--border-normal);
    }
    .MHxtic:hover {
        /* classwork item on hover */
        box-shadow: none;
        background-color: var(--bg-1);
    }
    .asQXV-FGzYL {
        /* submission status / grade info */
        color: var(--text-med-dark);
    }
    /* CALENDAR PAGE */
    .Eajscb .vT1Gyc.N4XV7d {
        /* date */
        color: var(--text-med);
    }
    .RIDjNe {
        /* border between days */
        border-color: var(--border-normal);
    }
    /* SETTINGS PAGE */
    .saYe1e {
        /* setting section titles */
        color: var(--text-med-bright);
    }
    .ViCi4 {
        /* setting descriptions */
        color: var(--text-med-dark);
    }
    .eBlXUe-l6JLsf::before {
        /* switch track */
        background-color: var(--bg-2);
        border-color: var(--border-normal);
    }
    .eBlXUe-scr2fc-OWXEXe-uqeOfd:hover .eBlXUe-l6JLsf::before {
        /* switch track hover */
        background-color: var(--bg-3);
        border-color: var(--border-med-heavy);
    }
    .eBlXUe-uMhiad::before {
        /* switch button */
        background-color: var(--text-med);
        border-color: var(--border-heavy);
    }
    .eBlXUe-scr2fc-OWXEXe-uqeOfd:hover .eBlXUe-uMhiad::before {
        /* switch button hover */
        background-color: var(--text-med-bright);
        border-color: var(--border-ultra-heavy);
    }
    .E5f6Vd {
        /* separation border */
        border-color: var(--border-normal);
    }
    .tDxNLe {
        /* collapsed section title */
        color: var(--text-med-bright);
    }
}
